$white: #FFF;
$color1: #00C9FF;
$color2: #92FE9D;
$lightgrey: #b8b8b8;
$lightergrey: #dbdbdb;
$light-color1: #e5f9ff;

$margin-left: 12vw;
$padding: 7vh 2vw;
$box-shadow: 0px 0px 10px 0px $lightgrey;
