@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
@import "@/assets/css/variables.scss";


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', Sans-Serif;
    background-color: $white;
    overflow-x: hidden;
}

#app {
    margin: 0;
    padding: 0;
}

::selection {
  background: $accent1;
  color: $white;
}

.new-page-enter-active {
    animation: new-page ease 2s;
}

@keyframes new-page {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
