@import "@/assets/css/variables.scss";

.menu-dim {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    opacity: 0;
    transition: .8s;
}

.menu-dim.open {
    opacity: .10;
}

.menu-top {
    z-index: 2;
    display: flex;
    width: 97vw;
    height: 8vh;
    padding: 1vh 1.5vw;
    background-color: $plain;
    color: $white;
    align-items: center;

    h1 {
        display: block;
        width: 20%;
    }

    ul {
        width: 80%;
        height: 100%;
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        padding: 0 5vw 0 0;
        margin: 0;
        z-index: 3;

        li {
            display: inline-block;
            margin-right: 1.5vw;
            cursor: pointer;
            transition: .5s;

            path {
                transition: .5s;
                fill: $white;
                stroke: $white;
            }

            path.hide {
                fill: none;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        li.open {
            color: $plain;

            path {
                fill: $plain;
                stroke: $plain;
            }

            path.hide {
                fill: none;
            }
        }
    }
}

.menu-container {
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -30vw;
    background-color: $white;
    z-index: 2;
    animation-duration: .9s;
    animation-timing-function: ease;

    .sub-menu {
        margin-top: 11vh;
        padding: 2vh 2vw;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 1vh;
                font-size: 1.3rem;
                font-weight: bold;
                cursor: pointer;
                color: $text;
                transition: .2s;

                opacity: 0;
                margin-left: 25px;
                animation-timing-function: ease;
                animation-duration: 1s;

                .bottom {
                    height: 20vh;
                    position: absolute;
                    bottom: 2vh;
                    width: 26vw;
                    display: flex;
                    opacity: 0;
                    transition: .2s;

                    .left {
                        background-color: $pale-text;
                        width: 35%;
                        overflow: hidden;

                        img {
                            max-width: 100%;
                        }
                    }

                    .right {
                        width: 65%;
                        padding-left: 1vw;

                        h4 {
                            color: $accent1;
                            font-size: 1.1rem;
                        }

                        p {
                            color: $pale-text;
                            font-size: .9rem;
                        }
                    }
                }

                &::before {
                    content: "-";
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    transition: .2s;
                    color: $accent1 !important;
                }

                &:hover {
                    color: $pale-text;

                    .bottom {
                        opacity: 1;
                    }

                    &::before {
                        left: 1vw;
                        opacity: 1;
                    }
                }
            }

            li.open {
                animation-name: showSubMenu;
                opacity: 1;
                margin-left: 0;
            }

            li.close {
                animation-name: hideSubMenu;
                animation-duration: .5s;
            }
        }
    }

    .sub-menu.search {
        input {
            width: 90%;
            height: 2vh;
            padding-right: 5%;
            font-family: 'Spartan', Sans-Serif;
        }

        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-height: 80vh;

            li {
                opacity: 1;
                min-height: 20vh;
                border-bottom: 1px solid $accent2;
                padding-top: 1vh;
                margin-bottom: 1vh;
                margin-left: 0;
                animation-name: showSubMenu;
                animation-duration: .9s;
                animation-timing-function: ease;

                p {
                    color: $text;
                }

                .infos {
                    margin-top: 1vh;
                    display: flex;
                    height: 15vh;

                    .left {
                        background-color: $pale-text;
                        width: 35%;
                        overflow: hidden;

                        img {
                            max-width: 100%;
                        }
                    }

                    .right {
                        width: 65%;
                        padding-left: 1vw;

                        p {
                            font-size: 1rem;
                        }

                        strong {
                            color: $accent1;
                        }
                    }
                }

                &:hover {
                    p {
                        color: $text;
                    }
                }

                &:first-child {
                    border-top: 1px solid $accent2;
                    padding-top: 2vh;
                    margin-top: 1vh;
                }
            }

            li.no-results {
                border-bottom: 0;
                cursor: default;

                &:hover {
                    color: $text;
                }

                &:before {
                    content: "";
                }
            }
        }

        button {
            border: 0;
            background: none;
            width: 20px;
            font-weight: bold;
            font-size: 1.5vh;
            position: absolute;
            right: 10%;
            cursor: pointer;
            color: $accent1;
            height: 1rem;
            display: block;
            top: 13.5vh;
            padding: 0;
        }
    }
}

.menu-container.open {
    animation-name: showMenu;
    right: 0;
}

.menu-container.close {
    animation-name: hideMenu;
    animation-duration: .6s;
    right: -30vw;
}

@keyframes showMenu {
    0% { right: -30vw; }
    100% { right: 0; }
}

@keyframes hideMenu {
    100% { right: -30vw; }
    0% { right: 0; }
}

@keyframes showSubMenu {
    0% {
        margin-left: 25px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes hideSubMenu {
    0% {
        margin-left: 0px;
        opacity: 1;
    }
    100% {
        margin-left: 25px;
        opacity: 0;
    }
}
