// $plain: #4ec5c1;
// $text: #1a1a1d;
// $pale-text: #63636f;
// $accent1: #fe6468;
// $accent2: #ffcb65;
// $black: #000;
// $white: #fff;

// $plain: #85cdca;
// $text: #1a1a1d;
// $pale-text: #63636f;
// $accent1: #c38d9e;
// $accent2: #e8a87c;
// $black: #000;
// $white: #fff;

// $plain: #5cdb95;
// $text: #1a1a1d;
// $pale-text: #63636f;
// $accent1: #05386b;
// $accent2: #edf5e1;
// $black: #000;
// $white: #fff;

// $plain: #1a1a1d;
// $text: #4e4e50;
// $pale-text: #8f8f92;
// $accent1: #6f2232;
// $accent2: #c3073f;
// $black: #000;
// $white: #fff;

// $plain: #0b0c10;
// $text: #c5c6c7;
// $pale-text: #fff;
// $accent1: #66fcf1;
// $accent2: #45a29e;
// $black: #fff;
// $white: #404249;

// $plain: #edc7b7;
// $text: #123c69;
// $pale-text: #3b6590;
// $accent1: #ac3b61;
// $accent2: #bab2b5;
// $black: #000;
// $white: #fff;

$plain: #6d7a71;
$text: #4a4a4a;
$pale-text: #adacac;
$accent1: #a39161;
$accent2: #b1b1b1;
$black: #000;
$white: #fff;
